.header-div{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.div-left{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-left img{
    height: 90%;
    width: 90%;
    margin-left: 20px;
}

.div-right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-right: 50px;
}
